.title {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    display: block;
}
.mU {
    position: absolute;
    top: -30%;
    left: 20px;
    height: 150%;
    opacity: 0.5;
}